<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <connectionStrings>
    <!--Azure DB-->
    <!--<add name="SIIMADRCDConnectionString" connectionString="Initial Catalog=SIIMADRCD_QAS;Data Source=40.76.212.149;User id=OC_USER;Password=Mvm2016*;Timeout=600" providerName="System.Data.SqlClient" />-->
    <!--<add name="SIIMADRCD_Broker" connectionString="Server=40.76.212.149;Database=SIMADRCD_Broker;User id=OC_USER;Password=Mvm2016*;Connection Timeout=5000" providerName="System.Data.SqlClient" />-->
    <!--<add name="SIIMADConfiguracionQAEntities" connectionString="metadata=res://*/SIIMADConfiguracionModel.csdl|res://*/SIIMADConfiguracionModel.ssdl|res://*/SIIMADConfiguracionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Initial Catalog=SIIMADConfiguracion_QAS;Data Source=40.76.212.149;User id=OC_USER;Password=Mvm2016*;Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>
    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RutaConfiguraciones" value="." />
    <add key="RutaEsquema" value="." />
    <add key="EsquemaValidacion" value="Template.xsd" />
    <add key="SqlBulkCopyBatchSize" value="50000" />
    <add key="MinutosExpiracionCache" value="180" />
    <add key="Cultura" value="es-CO" />
    <add key="FormatoFechaSistema" value="yyyy-MM-dd" />
    <add key="FormatoFechaMes" value="yyyy-MM" />
    <add key="FormatoHoraSistema" value="HH:mm" />
    <add key="FormatoHoraSistemaSegundos" value="HH:mm:ss" />
    <add key="SeparadorDecimalSistema" value="." />
    <add key="SeparadorMilesSistema" value="ç" />
    <add key="FormatoMoneda" value="$" />
    <add key="UsuarioPredeterminado" value="MVM\esteban.giraldo" />
    <add key="HabilitarRegistroDetalleTecnico" value="true" />
    <add key="HabilitarImpresionVariables" value="false" />
    <add key="NumeroProcesosEnParalelo" value="4" />
    <add key="TimeoutPorTransaccion" value="600" />

    --><!--SQL Service Broker--><!--
    <add key="UseServiceBus" value="true" />
    <add key="MessageType" value="SBMessage" />
    <add key="Contract" value="SBContract" />
    <add key="InitiatorService" value="GestorCalculosService" />
    <add key="TargetService" value="TransaccionesService" />
    <add key="PublicarProgresoAsincrono" value="true" />-->
  </appSettings>

  
  <runtime>

  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>

  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral"/>

  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

  
                 <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>

  
            </dependentAssembly>

  
       </assemblyBinding>

  
  </runtime>
</configuration>
