<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://40.76.212.149</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Calculos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SIIMADConfiguracionQAEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MVMSW904;Initial Catalog=SIIMADConfiguracion_QAS;User ID=USR_SIIMADRCD;Password=USR_SIIMADRCD;Connect Timeout=1000;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SIIMADConfiguracionQAEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SIIMADConfiguracionModel.csdl|res://*/SIIMADConfiguracionModel.ssdl|res://*/SIIMADConfiguracionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MVMSW904;initial catalog=SIIMADConfiguracion_QAS;user id=USR_SIIMADRCD;password=USR_SIIMADRCD;Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SIIMADRCDConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MVMSW904;Initial Catalog=SIIMADRCD_QAS;User ID=USR_SIIMADRCD;Password=USR_SIIMADRCD;Connect Timeout=600" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SIIMADRCDConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=MVMSW904;Database=SIIMADRCD_QAS;User id=USR_SIIMADRCD;Password=USR_SIIMADRCD;Timeout=600" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SIIMADRCD_Broker" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MVMSW904;Initial Catalog=SIMADRCD_Broker;User ID=oc_gestor_broker;Password=Mvm2016*;Connect Timeout=5000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SIIMADRCD_Broker_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=MVMSW904;Database=SIMADRCD_Broker;User id=oc_gestor_broker;Password=Mvm2016*;Connection Timeout=5000" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SIIMADConfiguracionQAEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SIIMADRCDConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SIIMADRCD_Broker-Web.config Connection String" />
  </ItemGroup>
</Project>