<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener" />
      <add fileName="Logs/GestorCalculosService.log" footer="----------------------------------------" formatter="Text Formatter" header="----------------------------------------" rollFileExistsBehavior="Overwrite" rollInterval="Day" rollSizeKB="300000" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Category Filter">
        <categoryFilters>
          <add name="Debug" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="Verbose" name="Debug">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Error" name="Errors">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Information" name="Information">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Mvm.Localizacion.Lenguaje.ClientAPI">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <cachingConfiguration defaultCacheManager="Default">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="36000" maximumElementsInCacheBeforeScavenging="10000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Default" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <dataConfiguration defaultDatabase="GestorCalculosConnectionString" />
  <connectionStrings>
    <!--<add name="SIIMADRCDConnectionString" connectionString="Server=MVMSW904;Database=SIIMADRCD_QAS;User id=USR_SIIMADRCD;Password=USR_SIIMADRCD;Timeout=600" providerName="System.Data.SqlClient" />
    <add name="SIIMADRCD_Broker" connectionString="Server=MVMSW904;Database=SIMADRCD_Broker;User id=oc_gestor_broker;Password=Mvm2016*;Connection Timeout=5000" providerName="System.Data.SqlClient" />
    <add name="SIIMADConfiguracionQAEntities" connectionString="metadata=res://*/SIIMADConfiguracionModel.csdl|res://*/SIIMADConfiguracionModel.ssdl|res://*/SIIMADConfiguracionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MVMSW904;initial catalog=SIIMADConfiguracion_QAS;user id=USR_SIIMADRCD;password=USR_SIIMADRCD;Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Azure DB-->
    <add name="SIIMADRCDConnectionString" connectionString="Initial Catalog=SIIMADRCD_QAS;Data Source=40.76.212.149;User id=OC_USER;Password=Mvm2016*;Timeout=600" providerName="System.Data.SqlClient" />
    <add name="SIIMADRCD_Broker" connectionString="Server=40.76.212.149;Database=SIMADRCD_Broker;User id=OC_USER;Password=Mvm2016*;Connection Timeout=5000" providerName="System.Data.SqlClient" />
    <add name="SIIMADConfiguracionQAEntities" connectionString="metadata=res://*/SIIMADConfiguracionModel.csdl|res://*/SIIMADConfiguracionModel.ssdl|res://*/SIIMADConfiguracionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Initial Catalog=SIIMADConfiguracion_QAS;Data Source=40.76.212.149;User id=OC_USER;Password=Mvm2016*;Timeout=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--<add key="RutaConfiguraciones" value="C:\Program Files\GestorCalculosAppWindowsV4.0\XML" />
    <add key="RutaEsquema" value="D:\Dirtrab\TFS\ArquitecturaMVM\dotNet\compon\Framen4.0\GestorCalculos\OC.GestorCalculos.Service\Configuration" />-->
    <add key="RutaConfiguraciones" value="\\mvmsw900\CalculosComerciales" />
    <add key="RutaEsquema" value="D:\Dirtrab\TFS\ArquitecturaMVM\dotNet\compon\Framen4.0\GestorCalculos\OC.GestorCalculos.Service\Configuration" />
    <add key="EsquemaValidacion" value="Template.xsd" />
    <add key="SqlBulkCopyBatchSize" value="50000" />
    <add key="MinutosExpiracionCache" value="180" />
    <add key="Cultura" value="es-CO" />
    <add key="FormatoFechaSistema" value="yyyy-MM-dd" />
    <add key="FormatoFechaMes" value="yyyy-MM" />
    <add key="FormatoHoraSistema" value="HH:mm" />
    <add key="FormatoHoraSistemaSegundos" value="HH:mm:ss" />
    <add key="SeparadorDecimalSistema" value="." />
    <add key="SeparadorMilesSistema" value="ç" />
    <add key="FormatoMoneda" value="$" />
    <add key="UsuarioPredeterminado" value="MVM\esteban.giraldo" />
    <add key="HabilitarRegistroDetalleTecnico" value="true" />
    <add key="HabilitarImpresionVariables" value="false"/>
    <add key="NumeroProcesosEnParalelo" value="4"/>
    <add key="TimeoutPorTransaccion" value="600"/>
    
    <!--SQL Service Broker-->
    <add key="UseServiceBus" value="true"/>
    <add key="MessageType" value="SBMessage"/>
    <add key="Contract" value="SBContract"/>
    <add key="InitiatorService" value="GestorCalculosService"/>
    <add key="TargetService" value="TransaccionesService"/>
    <add key="PublicarProgresoAsincrono" value="false"/>
  </appSettings>
  <spring>
    <context>
      <!-- Servicios de seguridad, logging, multilenguaje, etc. -->
      <resource uri="~/Configuration/Infrastructure.xml" />
      <!-- La declaracion de los servicios de negocio (Los BO) -->
      <resource uri="~/Configuration/Business.xml" />
    </context>
  </spring>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
